<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- 定义放行的登录页面及静态资源 -->
    <http security="none" pattern="/*.html"/>
    <http security="none" pattern="/css/**"/>
    <http security="none" pattern="/js/**"/>
    <http security="none" pattern="/img/**"/>
    <http security="none" pattern="/plugins/**"/>

    <!-- 页面拦截规则 -->
    <http use-expressions="false">
        <!--这里 access 代表定义角色，角色名必须以 ROLE_开头-->
        <intercept-url pattern="/**" access="ROLE_ADMIN"/>
        <form-login login-page="/login.html" default-target-url="/admin/index.html" authentication-failure-url="/login.html" always-use-default-target="true"/>
        <headers>
            <!-- 如果页面中使用了框架，则需要添加此属性，否则，框架不能使用 -->
            <frame-options policy="SAMEORIGIN"/>
        </headers>
        <csrf disabled="true"/>
        <!-- 添加退出功能（注销） -->
        <logout/>
    </http>
    <!-- 认证管理器 -->
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <!--代表 admin,123 这个用户可以访问 ROLE_USER 角色关联的资源-->
                <user name="admin" password="123456" authorities="ROLE_ADMIN"/>
                <user name="akon" password="akon" authorities="ROLE_ADMIN"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>